.container {
    display: flex;
    flex-direction: column;
}
.input_first {
    margin-left: 25px;
    margin-bottom: 8px;
}
.input_second {
    margin-left: 10px;
    margin-bottom: 20px;
}
.button {
    width: 100px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
}